@import "global";

.about{
    min-height: 90vh;
    display: flex;
    @include flex(center, space-around, row);
    // flex-wrap: wrap;
    padding: 2rem;
    .personal{
        flex: 1 1 110rem;
        
        .personal-contact{
            padding-left: 5rem;
            ul{
                list-style: none;
                li{
                    color: $champagne;
                    margin: .7rem;
                }
            }
            margin: 2rem;;
        }
        .personal-text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 2rem;
            img{
                max-width: 15rem;
            }
            h3{
                padding: 5rem;
                font-size: 3rem;
                font-weight: 450;
                color: $new-color
            }
        }
    }
    

    .cu{
        h4{
            color: $champagne;
        }
        ul{
            list-style: none;
            li{
                color: $new-color;
                margin-top: 1rem;
            }
            span{
                color: #707070;
                font-size: 2rem;
            }
        }
    }
    .resume{
        button{
            margin-top: 2rem;
            border-radius: 1rem;
            padding: 1rem;
            opacity: 1;
            border: none;
            transition: background 0.5s ease-in-out;
            cursor: pointer;
            background: $champagne;
            a{
                color: $raisin;
            }
        }
        button:hover{
            background: $chestnut;
        }
    }








    // .personal-text{
    //     background: rgb(209, 113, 113);
    // }
    // .personal-contact{
    //     background: red;
    // }
    // .cu{
    //     background: rgb(134, 134, 232);
    // }
    // .resume{
    //     background: blue;
    
}