.main-head{
    width: 95%;
    margin: 0 0 auto;
}

nav{
    @include flex(space-between, center, row);
    min-height: 10vh;
    width: 60%;
    flex-wrap: wrap;
    .logo{
        @include flex(flex-start, center, row);
        flex: 1 1 10rem;
        h1{
            margin: 2rem;
        }
        margin: 0rem 2rem;
    }
    ul{
        @include flex(space-around, center, row);
        flex: 1 1 40rem;
        list-style: none;
    }
}

.intro{
    min-height: 90vh;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    @include flex(space-between, center, row);
    h2{
        font-size: 4rem;
        padding-top: 2rem;
        color: $grey-text;
        background: $gradient;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        display: inline-block;
    }
    h3{
        font-size: 3rem;
        font-weight: bold;
        padding: 2rem 0rem;
    }
    p{
        padding-top: 2rem;
        color: $grey-text;
    }
}

.splash{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 50%;
    z-index: -1;
}

.intro-social{
    margin-top: 4rem;
   a{
    margin-right: 2rem;
   }
}

.intro-text, .intro-img{
    flex: 1 1 40rem;
}

.active{
    background: $grey-text;
    color: white;
    padding: 1rem 3rem;
    border-radius: 2rem;
}