@import "global";

.projects{
    width: 90%;
    margin: auto;
    min-height: 90vh;
    @include flex(space-between, center, row);
    text-align: center;
    flex-wrap: wrap;
}

.photo{

    flex: 1 1 50rem;
    h2{
        font-size: 3rem;
        margin: 5rem;
    }
    img{
        max-width: 50rem;
        height: auto;
    }

}
.buff{

    flex: 1 1 50rem;
    h2{
        font-size: 3rem;
        margin: 5rem;
    }
    img{
        max-width: 50rem;
        height: auto;
    }

}